
body {
    margin: 0px;
    padding: 0px;
}

/********* NavBar ********/
.navcontainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#nav {
    display: flex;
    margin: 6vw 6vw 0px 0px;
    flex-direction: row;
    justify-self: end;
}

#nav, .navtext {
    padding: 2vw;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    font-family: neueplak;
}

/********* NavBar ********/
.Landing {
    display: flex;
}

.logo {
    display: flex;
    height: 31px;
    min-width: 240px;
    background-image: url("../assets/images/dco-logo.svg");
    justify-self: flex-start;
    margin: 8vw 0px 8vw 8vw;
    background-repeat: no-repeat;

}

.landing-container {
    height: 30vw;
    width: 80%;
}

.banner {
    background-image: url("../assets/images/frontiers-banner.svg");
    background-size: 100%;
    padding: 12em;
    background-repeat: no-repeat;
}

.landing-text {
    display: flex;
    font-size: 1.5rem;
    justify-self: center;
    margin: 2vw 8vw 8vw;
}